#right{
    height:70vh ;
    background-color: white;
    width: 100vh;
    border-radius: 1vh;
    margin-left:2vh ;
    
}
#para{
    
    height: 5vh;
    display: flex;
    justify-content: center;
    color: aqua;
    

}
#groupe{
    border: 0.1vh solid aqua;
    height: 60vh;
    width:90vh ;
    margin-left: 4vh;
    font-size: 3vh;
    border: solid;
    border-radius: 1vh;
    border-color: aqua;
    display: flex;

}
.groupe{
    margin-left: 2vh;
}
#quest{
    margin-top: 4vh;
    
}
.quest{
    width: 55vh;
    height: 5vh;
    border:0.2vh solid aqua;
    border-top: hidden;
    border-left: hidden;
    background-color: aliceblue;
}
#point{
    margin-top: 4vh;

}
.point{
    width: 5vh;
    height: 3vh;
    font-size: 2vh;
    background-color: aliceblue;
    border:0.2vh solid aqua;
    border-top: hidden;
    border-left: hidden;
}
#type{
    display: flex;
    margin-top: 4vh;

}
.type{
    width: 45vh;
    height:5vh ;
    background-color: aliceblue;
    border:0.2vh solid aqua;
    border-top: hidden;
    border-left: hidden;
    font-size: 2vh;
}
#reponse{
    margin-top: 4vh;

}
.reponse1{
    width: 35vh;
    height:5vh ;
    background-color: aliceblue;
    border:0.2vh solid aqua;
    border-top: hidden;
    border-left: hidden;
}

   
#bt{
    width: 5vh;
    background-color: rgba(0, 255, 255,0.2);
    color: white;
    border-color: aqua;
    margin-left: 1vh;

    
    

}
.end{
     margin-left: 72vh;
     margin-top: 19vh;
     width: 15vh;
     height:5vh ;
     background-color: rgba(0, 255, 255,0.2);
     border-color: aqua;
     color: aqua;
     font-size: 2.5vh;

     
    
}

