#container{
    display: flex;
    flex-direction: column;
}
table
{
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    left: 23%;
    border-collapse : separate;
    border-spacing : 25px;
    border: 1px solid #39DDD6;

}
tr,td,th
{
    text-transform: uppercase;
    border-spacing: 12px;
    text-align: center;
    font-size: 25px;
}
#button{
     margin-left: 4vh;

    
}
button{
    width: 20vh;
    height: 4vh;
    background-color: aqua;
    border: 0.3vh solid aqua;
}
.a{
    text-decoration: none;
    font-size: 4vh;
    
}
#button1{
    margin-left: 50vh;
}