*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}
body{
  display: flex;
  background-image: url(img-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

#container{
  width: 100%;
  height: 100vh;
 /* border: 0.3vh solid black;*/
  display: flex;
  flex-direction: column;
}

#head{
  
/*  border: 0.2vh solid red;*/
  
  display: flex;
  background-color: rgb(20, 6, 51);
  
  
 
}

 #head2{
  
  /*border: 0.2vh solid rgb(129, 89, 16);*/
  margin-bottom: 2vh;
  color: white;
  display: flex;
 margin-left: 90vh;
 margin-top: 3vh;
  
}

  

#head1 img{
  height:10vh ;
  margin-left: 2vh;
}

#body{
  margin: 2vh;
  display: flex;
  flex-direction: column;
}
#entete{
  
  /*border:0.2vh solid orangered;
  margin: 1vh;*/
  display: flex;
  background-color: aqua;
  color: white;
  justify-content: space-between;
  


}#creer{
  
  /*border:0.2vh solid orangered;*/
  margin-left: 40vh;
  text-align: center;

}
#creer h1{
  margin-top:3vh ;
  margin-left:10vh;
}

#deconnexion{
  
  /*border:0.2vh solid orangered;*/
  margin-bottom: 2vh;
  display: flex;
  justify-content: end;
  


}
#deconnexion input{
  height: 5vh;
  width:12vh ;
  background-color: aquamarine;
  color: white;
  border-color: aquamarine;
  
  margin-top: 2vh ;
}
#corps{
 /* border:0.2vh solid rgb(84, 26, 122) ;
  margin: 1vh;*/
  display: flex;
  background-color: rgb(218, 218, 218);
  width: 100%;
}
#accueil{
 
  /*border:0.2vh solid rgb(84, 26, 122) ;*/
  margin: 5vh 0vh 10vh 1vh;
  display: flex;
  flex-direction: column;
  width: 35%;
}
#logo{
  
/*  border:0.2vh solid rgb(84, 26, 122) ;*/
height: 20vh;
 
  background: linear-gradient(white, aqua);
}
#photo{
  height: 80%;
  width: 25%;
  margin-top: 2vh;
  margin-left: 4vh;
  border: 0.1vh solid red;
  border-radius: 50%;
  display: flex;
  background-color:white;
  
}
#photo img{
  height: 80%;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
}
#p {
  font-size: 7vh;
  margin-left: 2vh;
}
#question{
  
  display: flex;
  flex-direction: column;
  background-color: white;
}
#question a{
  text-decoration: none   ;
  color: black;
  font-size: 25px;
  margin: 2vh;
  display: flex;
  justify-content: space-between;
}
#question a:hover{
  background-color: #ccc;
  height: 4vh;
}


#liste{
  /*border:0.2vh solid rgb(84, 26, 122) ;*/
  margin: 1vh 30vh 1vh 4vh;
  background-color: white;
  flex-direction: column;
  width: 60%;
  text-align: center;
}
